/**
 * Block: .header-main
 *
 * 1. Prefer inline-block and vertical-align, but causes infamous spacing
 *    issues that are easier to overcome with float.
**/

.header-main {
  background-color: $brand-info; 
  color: #a9b4c9;
  font-size: 0.875em;
  height: 54px;
  line-height: 54px;
  padding: 0 24px;
  @media #{$md-screen} { 
    font-size: 0.9375em; 
    height: 90px;
    line-height: 90px;
    padding: 0 38px;
  }

  a { 
    color: #a9b4c9;
    font-weight: 500;
    &:hover { color: white; }
  }
}

  .header-main-logo {
    float: left; /* 1 */
    margin-top: 16px;
    @media #{$md-screen} { margin-top: 28px; }
  }

    .header-main-logo-text {
      color: white;
      float: left;
      font-size: 1.4375rem;
      margin-left: 13px;
      @media #{$md-screen} { font-size: 1.5em; }
      span { color: #fa7777; }
      &:hover { color: #fa7777; }
    }

  .header-main-nav {
    float: right;
    li {
      display: inline-block; 
      margin-right: 34px;
      &:last-child { margin-right: 0; }
    }
    .primary { color: white; }
    .member-photo { 
      margin-left: 8px;
      position: relative;
      right: 8px;
      top: 5px; 
      @media #{$md-screen} { top: 10px; }
    }
    .i-gear { 
      right: 4px;
      top: 2px; 
    }
  }


/**
 * Block: .header-secondary
**/

.header-secondary {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 23px 24px 6px;
  @media #{$md-screen} { padding: 25px 38px 12px; }
}

  .header-secondary-categories {
    color: #575b66;
    font-size: 0.875em;
    font-weight: 500;
    margin: 34px -7px 0;
    @media #{$md-screen} {
      margin: 58px -10px 0; 
      font-size: 1.125em; 
    }
    li { 
      float: left;
      padding: 0 10px;
      width: (100% / 6);
      &:last-child { width: floor(100% / 6); }
    }
  }