@import "reset";
@import "helpers";

@import "header";


/**
 * Global Box-sizing 
**/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/**
 * Global Elements
**/

html, body {
  background-color: #f4f4f4;
  font-family: $primary-font;
  font-size: 1rem;
}

a {
  text-decoration: none;
  &:hover { text-decoration: none; }
}


/**
 * Logo (image)
**/

.logo {
  background-image: url("../img/logo.png");
  background-size: (116px * 0.5 74px * 0.5);
  height: 74px * 0.5;
  width: 116px * 0.5;
}


/**
 * Buttons
**/

.btn {
  border-radius: 3px;
  display: inline-block;
}

  .btn-primary {
    background-color: $brand-primary;
    color: #fff;
    font-size: 1.0625em;
    padding: 0.75em 1.5625em;
  }

  .btn-info {
    background: linear-gradient( 0deg, #dedede, #eaeaea );
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    box-shadow: inset 0px 1px 0 #f2f2f2, inset 0px -3px 0 #ccc;
    padding: 0.625em 0.75em;
  }


/**
 * Block: .main
**/

.main {}

  .main-tasks {
    margin: 15px 38px 38px;
  }

    .main-tasks-col {
      float: left;
      padding: 0 10px;
      width: (100% / 6);
      &:last-child { width: floor(100% / 6); }
    }

      .main-tasks-col-fix { margin: 0 -10px; }

    .main-tasks-number {
      color: #222;
      font-size: 1.5625em;
      line-height: 1;
      margin-top: 7px;
      text-align: right;
      span { 
        color: #575b66;
        font-size: 0.72em; 
      }
    }

    .main-tasks-labels {
      float: left;
      margin: 12px 0 0 5px;
      li { float: left; }
      .square { margin-left: 5px; }
    }

.task-management {
  float: left;
  .btn-info { margin-right: 6px; }
}

.team-members {
  float: right;
  margin-top: 6px;
  ul {
    display: inline-block;
    vertical-align: middle;
  }
  li { 
    display: inline-block; 
    margin-left: 2px;
  }
}

.member-photo {
  background-color: #eee;
  display: inline-block;
  height: 32px;
  width: 32px;
}

.issue-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0px -1px 0 #ddd;
  color: #575b66;
  line-height: 1.5;
  margin-bottom: 14px;
  .title { padding: 8px 15px; }
  .secondary { 
    @include clearfix();
    border-top: 1px solid #e5e5e5; 
    padding: 15px;
  }
  .member-photo { float: left; }
  &.merged {
    border-radius: 3px 3px 0 0;
    box-shadow: none;
    margin-bottom: 0;
  }
  &.merged-sub { 
    border-radius: 0; 
    box-shadow: none;
  }
  &.merged-sub-last { border-radius: 0 0 3px 3px; }
  &.warning { 
    position:  relative;
    border-color: $brand-primary;
    box-shadow: inset 0px 0px 0px 1px $brand-primary,
                inset 0px -1px 0 $brand-primary;
    .secondary { margin: 0 1px; }
  }
  &.empty {
    background-color: #efefef;
    padding: 29px 0;
    text-align: center;
  }
  &.load {
    background-color: #efefef;
    cursor: pointer;
    text-align: center;
  }
}

.square {
  background-color: rgba($brand-info, 0.1);
  border-radius: 3px;
  float: left;
  height: 20px;
  width: 20px;
}

  .square-red    { background-color: #e96868; }
  .square-blue   { background-color: #4550e5; }
  .square-ltblue { background-color: #45a3e6; }
  .square-gray   { background-color: #cecece; }
  .square-orange { background-color: #e58945; }


/**
 * .nav-label
 *
 * 1. Some modifier labels will want to modify the right value slightly
 *    and that value will be relative to the original.
**/

$nav-label-right: 0.6875em; /* 1 */

.nav-label {
  color: #575b66;
  font-size: 0.875em;
  font-weight: 500;
  letter-spacing: 0.05em;
  margin-right: $nav-label-right;
  text-transform: uppercase;
}

  .nav-label-filter { margin-left: 2em; }
  .nav-label-team { margin-right: $nav-label-right + 0.625em; }