@import "reset";
@import "helpers";


/**
 * Global Box-sizing 
**/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/**
 * Global Elements
**/

html, body {
  font-family: $primary-font;
}

a {
  text-decoration: none;
  &:hover { text-decoration: none; }
}